@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Custom smooth scrolling */
html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased;
}
