p img	{
	display: block;
	margin-left: auto;
	margin-right: auto;
  margin-bottom: 15px;
}

#blog-list {
  margin-top: 100px;
  margin-left: 300px;
  list-style: none;
  font-size: 25px;
  font-family: Eurostile;
  color: #5E5F60;
  text-decoration: none;
}

#blog-list a:hover {
  background-color: #5E5F60;
  color: white;
  text-decoration: none;
}

#blog {
  margin-left: 200px;
  margin-right: 200px;
  text-decoration: none;
}